
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

  <div class="hero-container">
    <h1>Title heading</h1>
  </div>


{% block content %}

  <section class="lh-hero-section lh-content-page-breadcrumbs">
    <div class="lh-hero-container">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Services</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Health and social care</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Adult social care</a>
          </li>
        </ol>
      </div>
    </div>
  </section>
  
  <div class="content-page-container">


    <div class="content-page-text-container">
      <section>
        <h1 class="lh-heading lh-heading-l">An article heading</h1>

        <p class="lh-content-summary">This line gives a preamble on what this page is about.</p>

        <h2 class="lh-heading lh-heading-m">A sub-heading</h2>

        <p>The article content. The Government has provided additional funding to councils to operate a discretionary fund for those households in need but who would not otherwise be eligible for a Council Tax Energy Rebate. This is called the Discretionary Council Tax Energy Rebate Fund.</p>

        <p>These use paragraph tags.</p>

        <ul class="lh-list lh-list--bullet">
          <li>This is a list</li>
          <li>With a few items</li>
        </ul>

        <p>And this paragraph contains a link to <a href="#">another page</a>.</p>
      </section>

      <aside>

      </aside>
    </div>

  </div>


{% endblock %}
