
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

  <div class="hero-container">
    <h1>Title heading</h1>
  </div>


{% block content %}


  <section class="lh-hero-section">
    <div class="lh-hero-container">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Services</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Health and social care</a>
          </li>
        </ol>
      </div>
      <div class="lh-hero-content">
        <h1 class="lh-heading lh-heading-xl">Preparing young people with SEND for adult life</h1>
        <p class="lh-text--white lh-hero-text">Information for young people with special educational needs and disabilities (SEND) about the time before and after you turn 18.</p>
      </div>
    </div>
  </section>

  <section class="lh-main-content">
    <div class="lh-main-content-intro">
      <p class="lh-body-l">Before you are 18 years old, various council services can help you. When you reach 18, you will become an adult and that support will end.</p>
      <p class="lh-body-l">Find out how your support will change up to the age of 18 and how you can take more control of your life. This time is often called transition.</p>
    </div>
    <h2 class="lh-heading lh-heading-l">How support changes from age 14 to 25</h2>
    <div class="lh-card-container">
      <div class="lh-card">
        <h3 class="lh-heading lh-heading-m">
          <a href="#" class="lh-link--card">Everyday tasks</a>
        </h3>
        <p></p>

      </div>
      <div class="lh-card">      
        <h3 class="lh-heading lh-heading-m">
          <a href="#" class="lh-link--card">Health care</a>
        </h3>
        <p></p>

      </div>
      <div class="lh-card">
        <h3 class="lh-heading lh-heading-m">
          <a href="#" class="lh-link--card">Learning</a>
        </h3>
        <p></p>

      </div>
      <div class="lh-card">
        <h3 class="lh-heading lh-heading-m">
          <a href="#" class="lh-link--card">Mental health</a>
        </h3>
        <p></p>

      </div>
      <div class="lh-card">
        <h3 class="lh-heading lh-heading-m">
          <a href="#" class="lh-link--card">Movement</a>
        </h3>
        <p></p>

      </div>
      <div class="lh-card">
        <h3 class="lh-heading lh-heading-m">
          <a href="#" class="lh-link--card">Social care</a>
        </h3>
        <p></p>

      </div>
      <div class="lh-card">
        <h3 class="lh-heading lh-heading-m">
          <a href="#" class="lh-link--card">Talking</a>
        </h3>
        <p></p>

      </div>
    </div>

    <h2 class="lh-heading lh-heading-l">Learning to manage different parts of life</h2>
    <div class="lh-card-container">
      <div class="lh-card">      
        <h3 class="lh-heading lh-heading-m">
          <a href="#" class="lh-link--card">Care budget</a>
        </h3>
        <p></p>

      </div>
      <div class="lh-card">
        <h3 class="lh-heading lh-heading-m">
          <a href="#" class="lh-link--card">Community</a>
        </h3>
        <p></p>

      </div>
      <div class="lh-card">
        <h3 class="lh-heading lh-heading-m">
          <a href="#" class="lh-link--card">Health</a>
        </h3>
        <p></p>

      </div>
      <div class="lh-card">
        <h3 class="lh-heading lh-heading-m">
          <a href="#" class="lh-link--card">Home</a>
        </h3>
        <p></p>

      </div>
      <div class="lh-card">
        <h3 class="lh-heading lh-heading-m">
          <a href="content-page" class="lh-link--card">Money</a>
        </h3>
        <p></p>

      </div>
      <div class="lh-card">
        <h3 class="lh-heading lh-heading-m">
          <a href="#" class="lh-link--card">Travel</a>
        </h3>
        <p></p>

      </div>
      <div class="lh-card">
        <h3 class="lh-heading lh-heading-m">
          <a href="#" class="lh-link--card">Work</a>
        </h3>
        <p></p>

      </div>
    </div>

  </section>


{% endblock %}
